DATA.quickcutmode.fit1cut=[0];
DATA.quickcutmode.fit2gauss=[1];
DATA.quickcutmode.fitallcut=[0];
DATA.quickcutmode.quickest=[0];
DATA.quickcutmode.plotspikes=[1];
DATA.quickcutmode.dropi=[0];
DATA.quickcutmode.mean=[0];
DATA.quickcutmode.triggerhist=[1];
DATA.quickcutmode.dips=[0];
DATA.probeswitchmode='reclassify';
DATA.auto.advanceprobe=[0];
DATA.auto.advanceexpt=[0];
DATA.auto.saveref=[0];
DATA.auto.checkxcorr=[0];
DATA.auto.uselastcluster=[0];
DATA.auto.replotcluster=[0];
DATA.auto.checkcluster=[1];
DATA.ptsz=[8  8];
DATA.plot.xcorr=[0];
DATA.plot.expt=[0];
DATA.plot.expttype='means';
DATA.plot.exptfit=[0];
DATA.plot.scaledensity=[0];
DATA.plot.meantype='image+lines';
DATA.plot.isi=[0];
DATA.plot.xyseq=[0];
DATA.plot.xcorrprobes=[0];
DATA.plotspk.probes=[];
DATA.plotspk.bytrial=[1];
DATA.plotspk.allprobes=[0];
DATA.plotspk.showmean=[0];
DATA.plotspk.showfullv=[0];
DATA.plotspk.nfullvprobes=[1];
DATA.plotspk.includeprepost=[0];
DATA.plotspk.subtrigger=[0];
DATA.plotspk.submean=[0];
DATA.plotspk.submax=[0];
DATA.plotspk.submin=[0];
DATA.plotspk.oneprobe=[0];
DATA.plotspk.muscale=[1];
DATA.gui.fontsize=[20];
